<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="QuickBooksWebRestSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.5.96/QuickbooksWebRest.asmx" binding="basicHttpBinding" bindingConfiguration="QuickBooksWebRestSoap" contract="QuickService.QuickBooksWebRestSoap" name="QuickBooksWebRestSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
